.filtersContainer {
  background-color: #f1f1f1;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  align-items: stretch;
}

.filterImage {
  display: flex;
  border-radius: 100%;
  width: 35%;
  order: 1;
  flex-basis: 100%;
  flex-wrap: nowrap;
}

.filterLink {
   color:#f1f1f1;
}
