.notificationBarContainer {
  background-color: #e6f1e6;
  color: #03034e;
  font-weight: 700;
  font-size: 12px;
  text-decoration: underline;
}

/*.infoCardContainer--info-card-home {
  max-width: 1520px;
  max-height: 700px;
  margin: 0 auto;
  background-color: #e6f1e6;
  padding: 5px;
}

.infoCardContainer--info-card-ic1 {
  max-width: 1520px;
  max-height: 700px;
  margin: 0 auto;
  background-color: #EFEFEF;
  padding: 5px;
}

.infoCardContainer--info-card-ic2 {
  max-width: 1520px;
  max-height: 700px;
  margin: 0 auto;
  background-color: #EFEFEF;
  padding: 5px;
}


.infoCardContainer--info-card-ic3 {
  max-width: 1520px;
  max-height: 700px;
  margin: 0 auto;
  background-color: #EFEFEF;
  padding: 5px;

}*/
.infoCardContainer--info-card{
  height:400px ;
}
.imageElement--Imagenetiqueta{ 
  height :20px;
  width: 20px;
  margin: 0 2px 0 30px;
  display: flex;
  justify-content: center;
}
.imageElement--Img-ig{ 
  height :44px;
  width: 15%;
  margin-bottom: -1%;
  display: flex;
  justify-content: right;
}
.imageElement--whatapps{
  height :46px;
  width: 20%;
  margin-bottom: -1%;
  justify-content: left;
}
.imageElement--Img-fb{ 
  height :44px;
  width: 15%;
  margin-bottom: 1%;
  display: flex;
  justify-content: center;
}
.newsletter {
  background-color: #EFEFEF;
  max-width: 1528px;
  max-height: 380px;
  margin: 0 auto;
}

.newsletter .container {
  background-color: #EFEFEF;
  padding: 6px 1px;
  max-height: 100;

}
.newsletter-izquuerdo{
  background-color: #EFEFEF;
  max-width: 1528px;
  max-height: 380px;
  
}
.newsletter-2{
  background-color: #EFEFEF;
  max-width: 1528px;
  max-height: 380px;
  
}
.newsletter .label {
  display: none;

}
.notificationBarContainer--tienda-whatapps{
  background-color: transparent;
 
  

}


.label {
  color: #e4147e;;
  font-size: 26px;
}

.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
  margin: -30%;
}
.inputGroup :global(.vtex-styleguide-9-x-hideDecorators) {
  background-color: transparent;
  background-color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  color: #e4147e;
  font-size: 16px;
}


.inputGroup :global(.vtex-button) {
  /*background-color: transparent;*/
  color: #faf4f7;
  border: none;
  margin-right: -24px;
}
:global(.vtex-button) {
  /*background-color: transparent;*/
  background-color: #e4147e;
  
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
  
  
}

.imageElement--storePrint {
  max-height: 700px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 140px;
  }

  .label {
    font-size: 40px;
  }

  .infoCardContainer--info-card-home .infoCardTextContainer {
    width: 70%;
    height: 90%;
  }

  .infoCardContainer--info-card-ic1 .infoCardImageContainer {
    width: 90%;
    height:80%;
    padding: 14px;
  }
  .infoCardContainer--info-card-ic2 .infoCardImageContainer {
    width: 90%;
    height:80%;
    padding: 14px;
  }
  .infoCardContainer--info-card-ic3 .infoCardImageContainer {
    width: 90%;
    height:80%;
    padding: 14px;
  }

  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 700px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: black;
  font-weight: bold;
  font-size: 30px;
}
.searchIcon{
  color: #e4147e;

}

.infoCardCallActionContainer :global(.vtex-button):hover {
  background: yellow;
}