
.styledLinkContent--Buscar{
  /*font-weight: bold;*/
  font-family: Georgia, 'Times New Roman', Times, serif;
  margin-bottom: -10px!important;
  color:black;
}
/*.styledLinkContent--Vertodo,
.styledLinkContent--lomas_vendido,
.styledLinkContent--nuevosbrasieresybralettes,
.styledLinkContent--buscar,
.styledLinkContent--brasieres-Ofertas,
.styledLinkContent--brasieres-PushUp{
  font-family: Georgia, 'Times New Roman', Times, serif;
}*/

.styledLinkContent--cambiodeletra{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif
}
.styledLinkContent--estilobrallet{
 font-weight: bold;
}


.styledLinkContent--Tipo{
  font-weight: bold;
  /*font-family: Georgia, 'Times New Roman', Times, serif;*/
}
.styledLinkContent--BeneficioBrasieres{
  font-weight: bold;
}
.styledLinkContent--BeneficioBrasieres{
  font-weight: bold;
  color: red;
  
}
.styledLinkContent--GENERA-INGRESOS{
  color: #e4147e;
}
.styledLinkContent--Links-de-interes{
 
  color: white;
}
.styledLinkContent--Quienesomos{
  
  color: white;
}
.styledLinkContent--Preguntasfrecuentes{
  
  color: white;
}
.styledLinkContent--Promo{

  color: white;
}
.styledLinkContent--Guia{
 
  color: white;
}
.styledLinkContent--politica{

  color: white;
}
.styledLinkContent--condiciones{
  
  color: white;
}
.styledLinkContent--Devoluciones{

  color: white;
}
.styledLinkContent--Privacidad{
 
  color: white;
}
.styledLinkContent--Trabaja{

  color: white;
}
.styledLinkContent--Cliente{

  color: white;
}
.styledLinkContent--escribenos{

  color: white;
}
.styledLinkContent--Linea{
  
  color: white;
}
.styledLinkContent--Telefono{
  
  color: white;
}
.styledLinkContent--3105756438{
  
  color: white;
}


.styledLinkContent:hover{
  font-weight: bolder;  
  font-family: sans-serif;
   

}
.menuItem .menuItem--GENERA-INGRESOS {
  display:none;
}