.galleryLayoutOptionButton {
  background-color: #F0F0F0;
  color: #3F3F40;
  padding: 0.375rem 0.75rem 0.375rem 0.75rem;
}

.galleryLayoutOptionButton--selected {
  background-color: #3F3F40;
  color: #FFFFFF;
}

.galleryLayoutSwitcher {
  border-radius: 4px 4px 4px 4px;
  justify-content: center;
  overflow: hidden;
  width: auto !important;
  align-self: center;
}

.galleryItem--list {
  border-bottom: 1px #E7E9EE solid;
}

/*.filterItem :global(.vtex-checkbox__inner-container) {
  background-color:transparent;
  border:none;
}

.filterItem.filterItem--Negro {
  display: inline-block;
  background-image:url('/arquivos/ids/155585/negro.jpg');
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  margin: 1rem .25rem 0;
  font-family: 'Barlow Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  text-indent: -99999px;
  border-radius: 100%;
}

.filterItem.filterItem--Azul {
  display: inline-block;
  background-image:url('/arquivos/ids/155582/azul.jpg');
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  margin: 1rem .25rem 0;
  font-family: 'Barlow Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  text-indent: -99999px;
  border-radius: 100%;
}
.filterItem.filterItem--Pink {
  display: inline-block;
  background-image:url('/arquivos/ids/155586/rosado.jpg');
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  margin: 1rem .25rem 0;
  font-family: 'Barlow Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  text-indent: -99999px;
  border-radius: 100%;
}
.filterItem.filterItem--Estampado {
  display: inline-block;
  background-image:url('/arquivos/ids/155584/estampado2.jpg');
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
  margin: 1rem .25rem 0;
  font-family: 'Barlow Condensed', "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
  text-align: center;
  text-indent: -99999px;
  border-radius: 100%;
}*/
