.styledLinkContent--Buscar{
  font-weight: bold;
  margin-bottom: -10px!important;
}
.styledLinkContent--verTodo{
  font-weight: bold;
}
.styledLinkContent--Tipo{
  font-weight: bold;
}
.styledLinkContent--BeneficioBrasieres{
  font-weight: bold;
}
.styledLinkContent--BeneficioBrasieres{
  font-weight: bold;
}
.styledLinkContent--brasier-1{
 background-color: brown;
}
.flexColChild--buscare{
  height : 0;
}