.styledLinkContent--Buscar{
  font-weight: bold;
  margin-bottom: -10px!important;
}
.styledLinkContent--verTodo{
  font-weight: bold;
}
.styledLinkContent--Tipo{
  font-weight: bold;
}
.styledLinkContent--BeneficioBrasieres{
  font-weight: bold;
}
.styledLinkContent--BeneficioBrasieres{
  font-weight: bold;
  color: red;
  
}
.styledLinkContent--GENERA-INGRESOS{
  color: #e4147e;
}
.styledLinkContent--Links-de-interes{
 
  color: white;
}
.styledLinkContent--Quienesomos{
  
  color: white;
}
.styledLinkContent--Preguntasfrecuentes{
  
  color: white;
}
.styledLinkContent--Promo{

  color: white;
}
.styledLinkContent--Guia{
 
  color: white;
}
.styledLinkContent--politica{

  color: white;
}
.styledLinkContent--condiciones{
  
  color: white;
}
.styledLinkContent--Devoluciones{

  color: white;
}
.styledLinkContent--Privacidad{
 
  color: white;
}
.styledLinkContent--Trabaja{

  color: white;
}
.styledLinkContent--Cliente{

  color: white;
}
.styledLinkContent--escribenos{

  color: white;
}
.styledLinkContent--Linea{
  
  color: white;
}
.styledLinkContent--Telefono{
  
  color: white;
}
.styledLinkContent--3105756438{
  
  color: white;
}