.container--deals {
  color: #ffffff;
  text-align: center;
  justify-content: center;
}
.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}
.container--paratiYoi {
  color: #53AC97;
  justify-content: center;
  text-align: center;
  background-color: #C2FAF3;
  font-family: 'Times New Roman', Montserrat , Montserrat;
  margin-top: 10px;
  margin-bottom: 10px;
}



.headingLevel2--shelfTitle {
  font-weight: 200;
}

.container--deals .paragraph {
  margin: 0;
}

.container--link {
  justify-content: center;
  margin-bottom: -60px!important;
  font-style: normal;
  font-weight: bold;
  font-size: 90%;
}

.container--question {
  justify-content: center;
}
.heading--shelfTitle{
  color: black;
  font-style: bold;
}

.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #e4147e;
}
.container--Info-trabaja{
  padding: 50px;
}
.container--condiciones-restriciones{
  text-align: center;
  justify-content: center;
  padding-top: 120px;
  margin-top: -8%;
  font-size: 25px;
  font-weight: bolder;
  font-style: inherit;
  color:gray;

}
.container--condiciones-restriciones2{
  padding-right: 60px;
  padding-left: 60px;
  text-justify: distribute;
  color:gray;

}
.container--Vacantes{
  text-align: center;
  justify-content: center;
  padding-top: 120px;
  margin-top: -8%;
  font-size: 25px;
  font-weight: bolder;
  font-style: inherit;

}

.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}

.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #e4147e;
}
.container--newsletter-izquierdo{
  
}
.container--newsletter-2{
 
}
.paragraph--newsletter-izquierdo{
  color: #727273;
}
.paragraph--newsletter-2{
  color: #727273;
}
.paragraph--text-whatapps{
  color:rgb(101, 173, 28) !important;
  font-size: 16px;
}
.paragraph--Info-cc{
  font-size: 21px;
  text-align: center;
  color: #e4147e;
  margin-left: 80px;

}
.paragraph--Info-cc-2{

  text-align: center;
}
.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #ddddec;
}

.container--title {
  color: #ddddec;
  font-size: 28px;
  font-weight: 700;
}
.container--subtitulos-lilipink {
  border-bottom: solid 1px #000;
  color: #e4147e;
  font-size: 0.82rem;
  font-weight: bold;
  padding: 1px;  
  font-family: 'Monserrat-semibold';
}

.paragraph--subtitulos-lilipink {

  margin-bottom: 0.2rem;
  margin-top: 0.2rem;
}
@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 40px;
    line-height: 3rem;
  }

  .container--about {
    max-width: 85%;
  }

  .container--title {
    color: #ddddec;
    font-size: 40px;
    font-weight: 700;
    max-width: 60%;
  }
  .container--tituloMenu{
    background-color: #f0f0f0;
    font-family: 'Monserrat-semibold';
    font-size: 15px;
    margin-bottom: 0.3rem;
    
  }

  
  .container--title .paragraph {
    line-height: 1.3em;

  }

}
.container--headingLevel2 {
color: #000;
font-size: 2.25rem;
font-family: "Monserrat-bold";
}
.paragraph--texto-redes{
  font-size: 20px;
  color: #727272;
}
.container--titulo-redes{
   font-size: 30px;
   font-family: 'Monserrat-bold';
   justify-content: center;
}
.paragraph--Encuentra{
  color: #727272;
  font-family: 'Monserrat-bold';
  font-size: 17px;
}