.listContainer {
  justify-content: flex-start;
}

.listContainer--boton-tallas .listItemActive :global(.vtex-button) {
  background-color: #efefef;
  border: none !important;
  padding-left: 0px !important;
  margin: 0px !important;
  border-radius: 0px !important;
  width: 100%;
  color: #757575;
  font-family: 'Monserrat-bold';
}

.listContainer--boton-tallas .listItem :global(.vtex-button) {
  border: none !important;
  width: 100%;
  color: #757575;
  font-family: 'Monserrat-bold';
}

.listContainer--boton-tallas .listItemActive {
  padding-left: 0px !important;
  margin: 0px !important;
  width: 50%;
}

.listContainer--boton-tallas .listItem {
  padding: 0px !important;
  margin: 0px !important;
  width: 50%;
}

/*estilo para guia de talla*/

.listContainer--boton-tallaspromociones .listItemActive :global(.vtex-button) {

  border: none !important;
  padding-left: 0px !important;
  margin: 0px !important;
  border-radius: 0px !important;
  width: 100%;
  color: #fff;
  background-color: #e4147e;
  font-family: 'Monserrat-bold';
}

.listContainer--boton-tallaspromociones .listItem :global(.vtex-button) {

  border: none !important;
  width: 100%;
  margin-right: 100px;
  font-family: 'Monserrat-bold';


}

.listContainer--boton-tallaspromociones .listItemActive {

  padding-left: 0px !important;
  margin: 100px !important;
  width: 50%;
}

/**/
.listContainer--boton-tallaspromociones .listItem {
  padding: 0px !important;
  margin: 0px !important;
  width: 25%;
}




.listContainer--tabs-promociones .listItemActive :global(.vtex-button) {
  background-color: #efefef;
  border: none !important;
  padding-left: 0px !important;
  margin: 0px !important;
  border-radius: 0px !important;
  width: 100%;
  color: #757575;
  font-family: 'Monserrat-bold';
}

.listContainer--tabs-promociones .listItem :global(.vtex-button) {
  border: none !important;
  width: 100%;
  color: #757575;
  font-family: 'Monserrat-bold';
}

.listContainer--tabs-promociones .listItemActive {
  padding-left: 0px !important;
  margin: 0px !important;
  width: 25%;
}

.listContainer--tabs-promociones .listItem {
  padding: 0px !important;
  margin: 0px !important;
  width: 25%;

}
